<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.ict.ex.mapper.EmpMapper">
    
    <select id="empList" resultType="edu.ict.ex.vo.EmpVO">
        select * from emp order by hiredate desc
    </select>
    
    <select id="deptList" resultType="edu.ict.ex.vo.DeptVO">
        select * from dept
    </select>
    
    <insert id="join">
    	<![CDATA[
    		insert into emp (empno, ename, job, mgr, hiredate, sal, comm, deptno) 
    		values (#{empno}, #{ename}, #{job}, #{mgr}, sysdate, #{sal}, #{comm}, #{deptno})
    	]]>
	</insert>
    
</mapper>